<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
  </head>
  <body style="background:#E4E9EC; ">
    <div style="max-width:600px;background: white;height: 100vh; margin:auto">
                <img  class="header" src="https://lh3.googleusercontent.com/msKZLblgMsrvnWkEY3hUT5Qwr1CII2VU9FReQrlbF12peC--CzO-I0Tz6zixGwCZLLoxJONJV46kExGwlBTXEoEjES0x5kGCvlrSaFZW"/>
                <div class="rp-title" id="title" style='background-color:#70BF00'>
                    Reset password success
                </div>

                <div id="display2" style="text-align: center;padding-top: 60px; font-size: 14px;">
                    <div style="padding: 15px;font-size: 18px !important;font-weight: 700;color: #5D5F61;">
                        Successfully changed!
                    </div>
                    <div>
                        Your New Password successfully changed.
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
    body{
        font-family:"Helvetica Neue", Helvetica;
        background-color: rgb(255, 255, 255);
        margin:0px;
        /* overflow: hidden; */
    }
    .header{
        width:100%;
        margin-bottom: -5px;
    }
    .rp-title {
        font-size: 17px;
        font-weight: 700;
        background-color: #579BFA;
        height: 32px;
        position: relative;
        color: white;
        align-items: center;
        display: grid;
        text-align: center;
    }
</style>
