<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
  </head>
  <body style="background:#E4E9EC; ">
    <div>
        <div style="max-width:600px;background: white;height: 100vh; margin:auto">
                <img  class="header" src="https://lh3.googleusercontent.com/hQB4Rw-i3hku2UVw6ZVOAv6u2iwt4q1bJOMZ3HoJg-tH9tTf56HQKirAKwqgGu5kGDmxLu9H0w8oY6zMbtHjS__pznndrk1511qWyWe6"/>
                <div class="rp-title" id="title">
                    Reset password
                </div>
                <div id="display1">
                    <div class="create-text-cont">
                        <div style="text-align:left; display: inline-block;">
                            <div class="title">Create new password</div>
                            <div class="text" >A strong password helps prevent unauthorized access to your account</div>
                        </div>
                    </div>
                    
                    <div class="container">
                    <div class="wrapper">
                        <form action='{{actionUrl}}' id='update_password_form' method='post'>
                            <input type='hidden' id='token' name='token' value='{{token}}' />
                            <input type='hidden' id='email' name='email' value='{{email}}' />
                            <input type='hidden' id='password' name='password' value='' />
                        <div class="row">
                            <i class="fas fa-lock icon-style icon1 iconLock1"></i>
                            <input class="custom-input icon1" type="password" placeholder="New Password" id="passwordNew" required>
                            <i class="fas fa-eye icon-style icon-eye" id="togglePasswordNew"></i>
                            <i class="fas fa-circle-exclamation icon-style icon-warning" id="iconWarningNew"></i>
                        </div>
                        <div class="warning-text" id="errorNew">
                            Minimum 8 characters (no spaces), at least 1 letter and 1 number 
                        </div>
                        <div class="row">
                            <i class="fas fa-lock icon-style icon2 iconLock2"></i>
                            <input class="custom-input icon2" type="password" placeholder="Re-enter New Password" id="passwordRe" required>
                            <i class="fas fa-eye icon-style icon-eye" id="togglePasswordRe"></i>
                            <i class="fas fa-circle-exclamation icon-style icon-warning" id="iconWarningRe"></i>
                        </div>
                        <div class="warning-text"  id="errorRe">
                            Both password must match
                        </div>
                        <div class="row button">
                            <input type="submit" class="button-reset" value="Reset Password" onclick="_resetPassword();">
                        </div>
                        </form>
                    </div>
                    </div>
                </div>

                <!-- <div id="display2" style="display:none;text-align: center;padding-top: 60px; font-size: 14px;">
                    <div style="padding: 15px;font-size: 18px !important;font-weight: 700;color: #5D5F61;">
                        Successfully changed!
                    </div>
                    <div>
                        Your New Password successfully changed.
                    </div>
                </div> -->
            </div>
        </div>
  </body>
</html>


<script>
    const title = document.querySelector("#title");
    const display1 = document.querySelector("#display1");
    const display2 = document.querySelector("#display2");
    const togglePasswordNew = document.querySelector("#togglePasswordNew");
    const passwordNew = document.querySelector("#passwordNew");
    const togglePasswordRe = document.querySelector("#togglePasswordRe"); 
    const passwordRe = document.querySelector("#passwordRe");
    const errorNew = document.querySelector("#errorNew");
    const errorRe = document.querySelector("#errorRe");
    const iconWarningNew = document.querySelector("#iconWarningNew");
    const iconWarningRe = document.querySelector("#iconWarningRe");
    const iconLock1 = document.querySelectorAll('.iconLock1');
    const iconLock2 = document.querySelectorAll('.iconLock2');
    const iconNew = document.querySelectorAll('.icon1');
    const iconRe = document.querySelectorAll('.icon2');
    const buttonReset = document.querySelectorAll('.button-reset');
    
    function _addFocused(results){
          for (result of results) {
              result.classList.add('focused');
          }
      }
  
      function _removeFocused(results){
          for (result of results) {
              result.classList.remove('focused');
          }
      }
  
      function _validateValue(){ 
          if (passwordNew.value != "" && passwordNew.value.length >= 8 && passwordRe.value != "") {
              _addFocused(buttonReset)
          }else {
              _removeFocused(buttonReset)
          }
      }
  
      function _validateInput(){
          errorNew.style.display = "none";
          errorRe.style.display = "none";
          togglePasswordNew.style = "right:0"
          togglePasswordRe.style = "right:0"
          iconWarningNew.style.display = "none"
          iconWarningRe.style.display = "none"
          for (result of iconLock1) {
              result.classList.remove('warning');
          }
          for (result of iconLock2) {
              result.classList.remove('warning');
          }
  
          if(passwordNew.value.length  < 8  || passwordNew.value.indexOf(' ') >= 0 || passwordNew.value.search(/[0-9]/) < 0 || passwordNew.value.search(/[a-z]/i) < 0){
             errorNew.style.display = "flex";
             togglePasswordNew.style = "right:30px"
             iconWarningNew.style.display = "flex"
             for (result of iconLock1) {
                  result.classList.add('warning');
              }
             return false
          }
  
          if(passwordNew.value != passwordRe.value){
              errorRe.style.display = "flex";
              togglePasswordRe.style = "right:30px"
              iconWarningRe.style.display = "flex"
              for (result of iconLock2) {
                  result.classList.add('warning');
              }
              return false
          }
  
          return true
      }
    
    function _resetPassword() {
          if(_validateInput()){
              //TODO api reset password
              buttonReset[0].setAttribute('type', 'submit')
              document.getElementById("password").value = document.getElementById("passwordNew").value;
              document.getElementById("update_password_form")._resetPassword();
          } else {
            buttonReset[0].setAttribute('type', 'button')
            if(passwordNew.value.length  < 8  || passwordNew.value.indexOf(' ') >= 0 || passwordNew.value.search(/[0-9]/) < 0 || passwordNew.value.search(/[a-z]/i) < 0){
             errorNew.style.display = "flex";
             togglePasswordNew.style = "right:30px"
             iconWarningNew.style.display = "flex"
             for (result of iconLock1) {
                  result.classList.add('warning');
              }
          }
  
          if(passwordNew.value != passwordRe.value){
              errorRe.style.display = "flex";
              togglePasswordRe.style = "right:30px"
              iconWarningRe.style.display = "flex"
              for (result of iconLock2) {
                  result.classList.add('warning');
              }
          }
        }
      }
    
    togglePasswordNew.addEventListener("click", function () {
         const type = passwordNew.getAttribute("type") === "password" ? "text" : "password";
         passwordNew.setAttribute("type", type);
         this.classList.toggle("fa-eye-slash");
      });
  
      togglePasswordRe.addEventListener("click", function () {
          const type = passwordRe.getAttribute("type") === "password" ? "text" : "password";
          passwordRe.setAttribute("type", type);
          this.classList.toggle("fa-eye-slash");
      });
  
     
      passwordNew.addEventListener("change", function(){
          if (passwordNew && passwordNew.value) {
              _addFocused(iconNew)
          }else {
              _removeFocused(iconNew)
          }
          _validateValue()
      });
  
      passwordRe.addEventListener("change", function(){
          if (passwordRe && passwordRe.value) {
              _addFocused(iconRe)
          }else {
              _removeFocused(iconRe)
          }
          _validateValue()
      });
  
      passwordNew.addEventListener("focusin", function(){
          _addFocused(iconNew)
      });
  
      passwordNew.addEventListener("focusout", function(){
          if(passwordNew.value == ""){
              _removeFocused(iconNew)
          }
      });
  
      passwordRe.addEventListener("focusin", function(){
          _addFocused(iconRe)
      });
  
      passwordRe.addEventListener("focusout", function(){
          if(passwordRe.value == ""){
              _removeFocused(iconRe)
          }
      });
      
  </script>
  
  <style>
    *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Poppins',sans-serif;
      }
      body{
          font-family:"Helvetica Neue", Helvetica;
          background-color: rgb(255, 255, 255);
          margin:0px;
          /* overflow: hidden; */
      }
      .container{
          max-width: 500px;
          padding: 0 20px;
          margin: auto;
      }
      .wrapper{
          width: 100%;
          background: #fff;
      }
      .wrapper .title{
          height: 90px;
          border-radius: 5px 5px 0 0;
          color: #fff;
          font-size: 30px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .wrapper form{
          padding: 30px 25px 25px 25px;
      }
      .wrapper form .row{
          height: 45px;
          margin-top: 20px;
          position: relative;
      }
      form .row input[type="password"]:focus{
          outline: none;
          color:#002233;
      }
      form .row input::placeholder{
          color: #BABEC1;
      }
      .custom-input{
          height: 100%;
          width: 100%;
          outline: none;
          padding: 0px 50px;
          font-size: 16px;
          transition: all 0.3s ease;
          border-width: 0px 0px 2px;
          border-color: #E4E9EC;
          color:#BABEC1
      }
      .icon-style{
          position: absolute;
          width: 47px;
          height: 100%;
          color: #BABEC1;
          font-size: 18px;
          border-radius: 5px 0 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .icon-eye{
          right: 0;
          z-index: 10;
          top: 0;
      }
      .icon-warning{
          position: absolute;
          right: 0;
          top: 0;
          color: #D93030;
          display: none;
      }
      .warning-text{
          font-size: 12px;
          color: #D93030;
          margin-top: 5px;
          font-weight: 400;
          line-height: 16px;
          display: none;
      }
      .header{
          width:100%;
          margin-bottom: -5px;
      }
      .rp-title {
          font-size: 17px;
          font-weight: 700;
          background-color: #579BFA;
          height: 32px;
          position: relative;
          color: white;
          align-items: center;
          display: grid;
          text-align: center;
      }
      .create-text-cont{
          padding: 32px 16px;
      }
      .create-text-cont .title{
          font-size: 17px;
          font-weight: 700;
          line-height: 22px;
          color: #5D5F61;
          padding-bottom:8px;
      }
      .create-text-cont .text{
          font-size: 14px;
          color:#5D5F61;
      }
  
      .icon1.focused {
          color: #002233 !important;
      }
      .icon2.focused {
          color: #002233 !important;
      }
      .iconLock1.warning{
          color: #D93030 !important;
      }
      .iconLock2.warning{
          color: #D93030 !important;
      }
  
      .button-reset{
          width: 100%;
          justify-content: center;
          font-size: 14px;
          height: 36px;
          color: white;
          border: none;
          background: #CCD3D6;
          border-radius: 8px;
      }
  
      .button-reset.focused {
          background-color: #002233 !important;
      }
  
  </style>
